.container {
    display: grid;
    width: 100%;
    padding: 32px;
    min-height: calc(100vh - 96px);
}

.container h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
  
.card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-bottom: 100px;
}

